@{
    bool CurrentUserLikedTrip = (bool)this.ViewData["CurrentUserLikedTrip"];
}

<div class="halfTableCell">
    <div id="likeNotLikeButtonsWrap">

        @{
            string className = CurrentUserLikedTrip ? "dislikeButton" : "likeButton";
        }

        <div id="likeDislikeTripButton" class="@className"
        @if (CurrentUserLikedTrip)
        {
            @: data-value="dislike"
        }
        else
        {
             @: data-value="like"
        }>
        </div>

    </div>
</div>