<div id="tripMessage">
    Pending join trip request...
    <span class="glyphicon glyphicon-info-sign"
          data-toggle="tooltip"
          title="Please wait while the driver of this trip approve your join request."></span>
</div>

<div id="tripActionWrap" class="halfTableCell">
    <div id="recallJoinTripButton" class="button">Recall trip join request</div>
</div>