<script id="pendingJoinRequestTemplate" type="text/x-handlebars-template">
    Pending join trip request...
    <span class="glyphicon glyphicon-info-sign"
          data-toggle="tooltip"
          title="Please wait while the driver of this trip approve your join request."></span>
</script>

<script id="recallJoinTripRequestButtonTemplate" type="text/x-handlebars-template">
    <div id="recallJoinTripButton" class="button">Recall trip join request</div>
</script>

<script id="joinTripRequestButtonTemplate" type="text/x-handlebars-template">
    <div id="joinTripButton" class="button">Join this trip</div>
</script>
