@model TripEditInputModel

<br />
<div id="tripEdit">

    <section id="topHead" class="noTopMargin noBottomMargin">
        <article class="redBG noMargin topBottomPadding">
            <div id="directions">Sofia - Burgas</div>
            <div id="dateOfLeaving">10 January 2016 18:30</div>
        </article>
    </section>

</div>
