@using TripDestination.Web.MVC.ViewModels.Contact
@model ContactFormInputModel

@using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Get in touch with us</legend>

        <div class="errorBox">
            @Html.ValidationSummary(true)
        </div>
        @Html.AntiForgeryToken()

        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="button2">Cancel</button>
                <button type="submit" class="button">Submit</button>
            </div>
        </div>
    </fieldset>
} 