<div id="contact">

    <section>
        <h1>Social links</h1>
        <h2>Check out our social pages and be part of our big community!</h2>
        <article class="bigPadding">
            <div class="wrapper row">
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/facebook-text-icon.png" alt="Facebook picture"></a></div>
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/twitter-text-icon.png" alt="Twitter picture"></a></div>
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/youtube-text-icon.png" alt="Youtube picture"></a></div>
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/google-plus-text-icon.png" alt="Google plus picture"></a></div>
            </div>
        </article>
    </section>

</div>

    <h2>Social links</h2>

    <h2>Contact form</h2>
    @if (this.ViewBag.SuccessMessage != null)
    {
        <h3>@this.ViewBag.SuccessMessage</h3>
    }
    @Html.Partial("_ContactFormPartial")


