<div id="contact">

    <section>
        <h1>Social links</h1>
        <h2>Check out our social pages and be part of our big community!</h2>
        <article class="bigPadding">
            <div class="wrapper row">
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/facebook-text-icon.png" alt="Facebook picture"></a></div>
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/twitter-text-icon.png" alt="Twitter picture"></a></div>
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/youtube-text-icon.png" alt="Youtube picture"></a></div>
                <div class="col-md-3 socialTextImage"><a href="#"><img src="images/google-plus-text-icon.png" alt="Google plus picture"></a></div>
            </div>
        </article>
    </section>

    <section>
        <h1>Contact form</h1>
        <h2>If you have any questions, suggestions or recommendation, do not hasitate to contact with us. Your feedback is important to us.</h2>
        <article>
            <div id="contactFormWrap" class="wrapper row">
                @if (this.ViewBag.SuccessMessage != null)
                {
                    <h3 class="success">@this.ViewBag.SuccessMessage</h3>
                }
                
                @Html.Partial("_ContactFormPartial")
            </div>
        </article>
    </section>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
    


