@model string

@{
    var placeholder = string.Empty;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }
}

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-lg-12 control-label" })
    <div class="error col-lg-12">@Html.ValidationMessageFor(m => m)</div>
    <div class="col-lg-12">
        @Html.TextBoxFor(m => m, new { placeholder = placeholder, @class = "form-control" })
    </div>
</div>