@model String

@Html.LabelFor(m => m, new { @class = "col-lg-12 control-label" })
<div class="error col-lg-10">@Html.ValidationMessageFor(m => m)</div>
<div class="col-lg-12">
    @Html.TextAreaFor(m => m, new { rows = "9", @class = "form-control" })
</div>