
<style>
    OL {
        counter-reset: item;
    }

    LI {
        display: block;
    }

        LI:before {
            content: counters(item, ".") " ";
            counter-increment: item;
        }
</style>

<div id="cookies">

    <section>
        <h1>Cookie policy</h1>
        <article>
            <ol>
                <li>
                    Introduction
                    <ol>
                        <li>Our website uses cookies.</li>
                        <li>We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website.</li>
                    </ol>
                </li>
                <li>
                    Credit
                    <ol>
                        <li>This document was created using a template from SEQ Legal (<a href="http://www.seqlegal.com">http://www.seqlegal.com</a>).</li>
                    </ol>
                </li>
                <li>
                    About cookies
                    <ol>
                        <li>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</li>
                        <li>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. </li>
                        <li>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</li>
                        <li>Cookies can be used by web servers to identify and track users as they navigate different pages on a website and identify users returning to a website.</li>
                    </ol>
                </li>
                <li>
                    Our cookies
                    <ol>
                        <li>We use both session and persistent cookies on our website.</li>
                    </ol>
                </li>
                <li>
                    Blocking cookies
                    <ol>
                        <li>
                            Most browsers allow you to refuse to accept cookies; for example:
                            <ol>
                                <li>in Internet Explorer (version 11) you can block cookies using the cookie handling override settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";</li>
                                <li>in Firefox (version 36) you can block all cookies by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and</li>
                                <li>in Chrome (version 41), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.</li>
                            </ol>
                        </li>
                        <li>Blocking all cookies will have a negative impact upon the usability of many websites.</li>
                        <li>If you block cookies, you will not be able to use all the features on our website.</li>
                    </ol>
                </li>
                <li>
                    Deleting cookies
                    <ol>
                        <li>
                            You can delete cookies already stored on your computer; for example:
                            <ol>
                                <li>in Internet Explorer (version 11), you must manually delete cookie files (you can find instructions for doing so at http://windows.microsoft.com/en-gb/internet-explorer/delete-manage-cookies#ie=ie-11);</li>
                                <li>in Firefox (version 36), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history" from the drop-down menu, clicking "Show Cookies", and then clicking "Remove All Cookies"; and</li>
                                <li>in Chrome (version 41), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data", and then selecting "Cookies and other site and plug-in data" before clicking "Clear browsing data".</li>
                            </ol>
                        </li>
                        <li>Deleting cookies will have a negative impact on the usability of many websites.</li>
                    </ol>
                </li>
            </ol>
        </article>
    </section>

</div>