@model DateTime

@{ 
    string identifier = this.ViewData.TemplateInfo.HtmlFieldPrefix;
}

@Html.LabelFor(m => m, new { @class = "col-lg12 control-labe" })
<div class="col-lg-12">
    <div class='input-group date customDateTimePickers'>
        <input type='text' class="form-control" style="margin-bottom:0" name="@identifier" id="@identifier" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>