@using TripDestination.Web.MVC.ViewModels.Home
@model HomepageViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Top destination</h2>
@if (Model.TopDestinations.Count() > 0)
{
    <ul>
        @foreach (var tupleDestinations in Model.TopDestinations)
        {
            <li>@tupleDestinations.Item1 - @tupleDestinations.Item2</li>
        }
    </ul>
}

<h2>Today tips</h2>
@if (Model.TodayTrips.Count() > 0)
{
    <ul>
        @foreach (var trip in Model.TodayTrips)
        {
            Html.RenderPartial("_TripListLiPartial", trip);
        }
    </ul>
}
else
{
    <text>
        No trips were added today.
    </text>
}

<h3>Latest trips</h3>
@if (Model.LatestTrips.Count() > 0)
{
    <ul>
        @foreach (var trip in Model.LatestTrips)
        {
            Html.RenderPartial("_TripListLiPartial", trip);
        }
    </ul>
}
else
{
    <text>
        No found trips.
    </text>
}