@using TripDestination.Web.MVC.ViewModels.Page
@model PageParagraphViewModel

<article class="faq">
    <div class="wrapper row">
        <div class="faqQuestionNumber">Question @this.ViewData["index"]</div>
        <div class="feqQuqestion">@Model.Heading</div>
        <p>@Html.Raw(Model.Text)</p>
    </div>
</article>