@using TripDestination.Web.MVC.ViewModels.Page
@model PageParagraphViewModel

<article>
    <div class="wrapper row">
        <div class="faqQuestionNumber">Question 1</div>
        <div class="feqQuqestion">@Model.Heading</div>
        <p>@Model.Text</p>
    </div>
</article>