@model TripDestination.Web.MVC.ViewModels.Page.PageViewModel

@if (Model.Paragraphs.Count() > 0)
{
    for(int i = 0; i < Model.Paragraphs.Count(); i++)
    {
        var paragraph = Model.Paragraphs[i];
        int index = i + 1;

        <section>
            <h1>@paragraph.MainHeading</h1>
            <h2>@paragraph.MainSubHeading</h2>
            @if (paragraph.Type == TripDestination.Data.Models.PageParagraphType.Normal)
            {
                Html.RenderPartial("_ParagraphNormalPartial", paragraph);
            }
            else if (paragraph.Type == TripDestination.Data.Models.PageParagraphType.Double)
            {
                Html.RenderPartial("_ParagraphDoublePartial", paragraph);
            }
            else if (paragraph.Type == TripDestination.Data.Models.PageParagraphType.FAQ)
            {
                Html.RenderPartial("_ParagraphFAQPartial", paragraph, new ViewDataDictionary { { "index", index } });
            }
        </section>
    }
}
else
{
   <div>
       No content added yet. Please try again later.
   </div>
}



