.defaultLink {
  text-decoration: none;
  color: #fff;
}
.defaultLink:hover {
  color: #ccc;
}
.clearFix {
  zoom: 1;
}
.clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.ulClear {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ulClear li {
  margin: 0;
  padding: 0;
}
.imageFix {
  display: block;
}
.imageCover {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}