<div class="adminKendoTableWrap">

    <h1>Notification types administration</h1>

    @(Html.Kendo().Grid<TripDestination.Web.MVC.Areas.Admin.ViewModels.NotificationTypeAdminViewModel>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(c => c.Id);
              columns.Bound(c => c.Key);
              columns.Bound(c => c.Description);
          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Pageable()
          .Sortable(sortable =>
          {
              sortable.SortMode(GridSortMode.SingleColumn);
          })
          .Filterable()
          .Scrollable(scr => scr.Height(650))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model => model.Id(p => p.Id))
              .Read(read => read.Action("NotificationType_Read", "NotificationTypeAdmin"))
          )
    )
</div>
