<footer>

    <div id="topFooterWrap">
        <div class="wrapper row">
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="~/Assets/images/facebook-square-border-icon.png" alt="Facebook icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <img src="~/Assets/images/twitter-square-border-icon.png" alt="Facebook icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank">
                            <img src="~/Assets/images/youtube-square-border-icon.png" alt="Facebook icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/" target="_blank">
                            <img src="~/Assets/images/github-square-border-icon.png" alt="Facebook icon">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 pull-right">
                <div id="newsletterWrap">
                    <div id="newsletterButton">Subscribe</div>
                    <div id="newsletterEmailInputWrap">
                        <input id="newsletterEmailInput" type="text" placeholder="Enter your e-mail">
                    </div>
                    <div id="text">Newsletter</div>
                </div>
            </div>
        </div>
    </div>

    <div id="footerWrap">
        <div class="wrapper row">
            <div id="navigationLinks" class="col-md-8">
                <ul>
                    <li>Technologies</li>
                    <li><img src="" alt=""></li>
                </ul>

                <ul>
                    <li>Trips</li>
                    <li><a href="#">All trips</a></li>
                    <li><a href="#">Latest trips</a></li>
                    <li><a href="#">Todays trips</a></li>
                </ul>
            </div>

            <div class="copyrightWrap col-md-4">
                <div id="copyrightText">
                    <p>Copyrights &copy; 2016 Simeon Petkov,</p>
                    <p>All Rights Reserved.</p>
                </div>
                <div id="logoFooterWrap">
                    <img src="~/Assets/images/logo.png" alt="Trip destinaion logo">
                </div>
            </div>
        </div>
    </div>

</footer>

</body>
</html>