@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section baseStyles {
    @RenderSection("styles", required: false)
}

@Html.Action("NavigationPartial", "Layout", new { area = string.Empty })

<div>
    @RenderBody()
</div>

@section baseScripts {
    @RenderSection("scripts", required: false)
}