@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="page404">

    <section>
        <h1>Page not found</h1>
        <h2>Wrong way</h2>
        <article class="bigPadding">
            <div class="wrapper row">
                <div class="col-md-3 image">
                    <img src="~/Assets/images/road-404.png" alt="Road 404 image">
                </div>

                <div id="errorDescription" class="col-md-8 pull-right">
                    <h3>It appears the page you are looking for is empty. </h3>
                    <p>You have requested a page or file which does not exist.</p>
                    <a href="/">Take me to home</a>
                </div>
            </div>
        </article>
    </section>

</div>

