@model UserCommentsAdminViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
    </div>
</div>
