<div class="adminKendoTableWrap">

    <h1>Page paragraphs administration</h1>

    @(Html.Kendo().Grid<TripDestination.Web.MVC.Areas.Admin.ViewModels.TripCommentAdminViewModel>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(c => c.Username);
              columns.Bound(c => c.Author);
              columns.Bound(c => c.Text);
              columns.Bound(c => c.CreatedOn).Format("{0:yyyy-MM-dd HH:mm}");
              columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Pageable()
          .Sortable(sortable =>
          {
              sortable.SortMode(GridSortMode.SingleColumn);
          })
          .Filterable()
          .Scrollable(scr => scr.Height(650))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model => model.Id(p => p.Id))
              .Read(read => read.Action("TripComments_Read", "TripCommentAdmin"))
              .Update(update => update.Action("Trip_Update", "TripCommentAdmin"))
              .Destroy(destroy => destroy.Action("Trip_Destroy", "TripCommentAdmin"))
          )
    )
</div>
